sudo: false

language: ruby

rvm:
  - 2.4.0

cache: bundler

script: 
  - ./deploy.sh --source-only

deploy:
  provider: pages
  skip-cleanup: true
  github-token: test-token  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
  target_branch: gh-pages